# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled executables
*.exe
*.out

# Build directories
build/
dist/

# Python virtual environment
venv/

# CMake build files
CMakeFiles/
CMakeCache.txt
CMakeScripts/
CMakeLists.txt.user

# Visual Studio Code files
.vscode/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db
